<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.excellence.tooldemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GridAdapterActivity">
        </activity>
        <activity android:name=".RecyclerAdapterActivity">
        </activity>
        <activity android:name=".MultiItemAdapterActivity">
        </activity>
        <activity android:name=".MultiItemRecyclerAdapterActivity">
        </activity>
        <activity android:name=".ViewPagerAdapterActivity">
        </activity>
    </application>

</manifest>